{% extends "base.html" %}

{% block body %}
<div class="table" id="one-container">
<table id="table-one" class="display" border="34">
    <thead>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for one in ones %}
        <tr>
            <td>{{ one.id }}</td>
            <td>{{ one.title }}</td>
            <td>{{ one.description }}</td>
            <td><img width="100" src="data:image/png;base64, {{ one.image }}"/></td>
            <td>
                <a href="{{ url }}?c=one&t=edit&id={{ one.id }}">Modifier</a>
                <a href="{{ url }}?c=one&t=delete&id={{ one.id }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=one&t=create">Créer un article sur le ONE : </a>
</p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#table-one").DataTable({
            "pageLength": 10,
            "language": {
                "search": "Rechercher:",
                "lengthMenu": "Afficher _MENU_ éléments",
                "info": "Affichage de _START_ à _END_ sur _TOTAL_ éléments",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précédent"
                }
            },
            "dom": '<"top"f>rt<"bottom"ip><"clear">',
            "initComplete": function(settings, json) {
                $("#one-container p").insertAfter("#table-one_filter");
            }
        });
    });
</script>
{% endblock %}
