<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../table.css">
    <title>Liste des organisations</title>
    <link rel="shortcut icon" href="http://195.154.118.169/guillaume/projetMMA/logo_mmaworld.png" type="image/svg+xml">
    <style>
        .full-height {
            height: 100vh;
        }
    </style>
</head>
<body>

<div class="container d-flex justify-content-center align-items-center full-height">
    <div class="row text-center">
        <div class="col-lg-4 mb-4">
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=ufc&t=create" class="btn btn-primary btn-block mb-2">Créer un article sur l'UFC</a>
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=ufc&t=ufcList" class="btn btn-primary btn-block">Voir la liste des articles sur l'UFC</a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=pfl&t=create" class="btn btn-primary btn-block mb-2">Créer un article sur le PFL</a>
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=pfl&t=pflList" class="btn btn-primary btn-block">Voir la liste des articles sur le PFL</a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=one&t=create" class="btn btn-primary btn-block mb-2">Créer un article sur le ONE FC</a>
            <a href="http://195.154.118.169/guillaume/projetMMA/start.php?c=one&t=oneList" class="btn btn-primary btn-block">Voir la liste des articles sur le ONE FC</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
